<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - Sacramento Science Olympiad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ BASE_URL }}/templates/css/normalize.css" />
    <link rel="stylesheet" href="{{ BASE_URL }}/templates/css/style.css" />
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Sacramento Science Olympiad</h1>
        <nav>
            <ul role="navigation">
                <li><a href="{{ BASE_URL }}/index.html">Home</a></li>
                <li><a href="{{ BASE_URL }}/pages/competition-info.html">Competition Info</a></li>
                <li><a href="{{ BASE_URL }}/pages/registration.html">Registration</a></li>
                <li><a href="{{ BASE_URL }}/pages/coaches-info.html">Coaches Info</a></li>
                <li><a href="{{ BASE_URL }}/pages/results.html">Results</a></li>
                <li><a href="{{ BASE_URL }}/pages/questions.html">Questions</a></li>
                <li id="search">
                    <form action="http://www.duckduckgo.com/" method="get" id="duck-duck-go-search">
                        <input type="hidden" value="{{ BASE_URL }}" name="sites">
                        <input type="text" value="" size="20" name="q" placeholder="search">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer>
    Thanks to our sponsors
        <ul id="sponsors">
            <li><img src="{{ BASE_URL }}/templates/images/SMUD.gif" /></li>
            <li><img src="{{ BASE_URL }}/templates/images/ClassicAwards.png" /></li>
        </ul>
        <p id="poweredBy">Design by <a href="http://smcummings.com">SMCummings</a> | Made with <a href="https://github.com/sachleen/Steady">Steady</a></p>
    </footer>
</div>
</body>
</html>