{% extends "base.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
    {{ content|raw }}
    <div class="parent">
        <div class="left">
            <section>
                <h2>Announcements</h2>
                {% for post in posts|slice(0, 10) %}
                    <article>
                    <h3 class="postTitle"><a href="posts/{{ post.metadata.slug }}.html">{{ post.metadata.title|e }}</a><span>{{ post.metadata.date|date("M d, Y")  }}</span></h3>
                    {{ post.content|TruncateP(2)|raw }}
                    <a href="posts/{{ post.metadata.slug }}.html">Click here to continue reading.</a>
                    </article>
                {% else %}
                    No posts.
                {% endfor %}
            </section>
            
            <section class="center">
                <p>
                    <a href="archive.html">View Past Updates</a>
                </p>
            </section>
        </div>
        <div class="right">
            {% include 'sidebar.twig' %}
        </div>
    </div>
{% endblock %}